.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  width: 200px;
  height: 200px;
}
.external {
  border: 2px solid #000000;
}
.internal {
  border: 1px solid #ffffff;
}
.red {
  background-color: red;
}
.blue {
  background-color: #00b0f0;
}
.green {
  background-color: #00b050;
}
.yellow {
  background-color: #ffff00;
}
